<div id="testimonials-slider">
    <div class="container">
        <div id="testimonial-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonial-slider" data-slide-to="0" class=""></li>
                <li data-target="#testimonial-slider" data-slide-to="1" class="active"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- slide-item -->
                <div class="item">
                    <div class="testimonial">
                        
                        <%= image_tag "Mu.jpg", alt: "" %>
                        <h3>He who is not courageous enough to take risks will accomplish nothing in life</h3>
                        <h5 class="customer-name">- JOHN DOE</h5>
                    </div><!-- / testimonial-->
                </div><!-- / slide item -->
                <!-- slide-item -->
                <div class="item active">
                    <div class="testimonial">
                        <%= image_tag "su.jpg", alt: "" %>
                        <h3>Within our dreams and aspirations we find our opportunities..</h3>
                        <h5 class="customer-name">- Sugar Ray Leonard</h5>
                    </div><!-- / testimonial-->
                </div><!-- / slide item -->
            </div><!-- / carousel-inner -->
        </div><!-- / testimonial-slider -->
    </div><!-- / container -->
</div>

<!-- features section with image left -->

<div class="space-200">&nbsp;</div>
     <div class="page-header text-center">
            <h2>Frequently Asked Questions &amp; Answers</h2>
        </div>
<div class="space-50">&nbsp;</div>
  <div id="listgroups-panels">
    <div class="container">
        <!-- wells -->
        <!-- default well -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Where will the Enrichment Camp take place? 
                </h4>
                <div class="well"> TAPS Education &Sports Academy 9100 Olmsted Drive, Charlotte, NC 28262 
                Eden, NC (Coming Soon)
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / default well -->
          <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">What is the cost? Are there sibling discounts? </h4>
                <div class="well"> Camp will cost $110.00 per person per week. An early bird registration fee of $99.00 per week is eligible to anyone who registers and pays in full (ALL WEEKS) by April 15th. Because we have a limited amount of space available, we may offer sibling discounts (please inquire) 10% off oldest sibling.
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / default well -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">What time will camp begin and end? </h4>
                <div class="well"> The Camp will be 7:30 AM - 5:30 PM, Monday through Friday. Early Drop Off AND Late Pick-Up (30 min before and after) is available for $25 per week..
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / default well -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Will Lunch be provided?</h4>
                <div class="well"> Breakfast and lunch will be provided to each camper. .
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / default well -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">What is the daily Schedule?
                </h4>
                <div class="well"> T.A.P.S Contact Info: 
Director of Programs and Administration – Cynthia Smith 
Phone: 704-749-0528(Office) 704-674-8331(Mobile Office).
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / default well -->
    </div>
</div>









            <div class="space-200">&nbsp;</div>