   <div id="footers">
    <div class="full-width">

   <!-- color footer with widgets -->
        <footer class="color-footer">
            <div class="widget-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="about-widget">
                                <div class="widget-title">
                                    <%=image_tag "TAPS.png", alt: "logo"%>
                                </div>
                                <p>T.A.P.S  SUMMER ENRICHMENT 2017.
                                <br>
                                <br>
                               .</p>
                            </div><!-- / about-widget -->
                        </div><!-- / col-sm-6 col-md-3 -->
                        <!-- / first widget -->

                        <div class="col-sm-6 col-md-4">
                            <div class="widget-title">
                                <h4>Newsletter(coming Soon)</h4>
                            </div>
                            <div id="newsletter" class="newsletter-widget">
                               <div class="input">
                                    <input type="text" class="form-control" placeholder="Stay Tuned">
                                    <!-- <span class="input-btn">
                                        <button class="btn btn-md btn-success-filled btn-newsletter" type="button">Subscribe to Newsletter</button>
                                    </span> -->
                                </div><!-- /input-group -->
                            </div><!-- / newsletter-widget -->
                        </div><!-- / col-sm-6 col-md-3 -->
                        <!-- / third widget -->
            






                        <div class="col-sm-6 col-md-4">
                            <div class="widget-title">
                                <h4>Contact</h4>
                            </div>
                            <div class="contact-widget">
                                <div class="info">
                                    <p><i class="lnr lnr-map-marker"></i><span>TAPS Education &Sports Academy 9100 Olmsted Drive, Charlotte, NC 28262 .</span></p>
                                </div>
                                <div class="info">
                                    <a href="tel:+0123456789"><i class="lnr lnr-phone-handset"></i><span>Phone: 704-749-0528(Office) 704-674-8331(Mobile Office)</span></a>
                                </div>
                                <div class="info">
                                    <a href="mailto:tapssportsacademy@gmail.com"><i class="lnr lnr-envelope"></i><span>tapssportsacademy@gmail.com</span></a>
                                </div>
                                <div class="info">
                                    <p class="social pull-left">
                                        <a class="no-margin" href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a><i class="fa fa-google-plus"></i></a>
                                        <a><i class="fa fa-pinterest"></i></a>
                                        <a><i class="fa fa-linkedin"></i></a>
                                        <a><i class="fa fa-dribbble"></i></a>
                                    </p>
                                </div>
                            </div><!-- / contact-widget -->
                        </div><!-- / col-sm-6 col-md-3 -->
                        <!-- / fourth widget -->
                    </div><!-- / row -->
                </div><!-- / container -->
            </div><!-- / widget-area -->
            <div class="container">
                <p class="footer-info text-center">© 2017 - <strong>TAPS</strong> - All Rights Reserved.</p>
            </div><!-- / container -->
        </footer><!-- / color-footer with widgets -->
        <!-- / footers with widgets  -->
    </div><!-- / full-width -->
</div>